body {
	margin: 0;
	padding: 0;
}

#canvas-container {
	width: 400px;
	height: 400px;
	margin: 50px auto;
	border: 1px solid black;
}

#score-container {
	text-align: center;
	margin-top: 50px;
}

#game-over-container {
	display: none;
	text-align: center;
	margin-top: 100px;
}

#game-over-container h2 {
	margin: 0;
}

#game-over-container p {
	margin: 10px 0;
}

#restart-button {
	padding: 10px 20px;
	background-color: green;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
